html, body {
  margin: 0;
  padding: 0;
  background: black
}
canvas {
  display: block;
  padding: 5px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
  width: 50%;
  height: 50%;
}
body {
  background: #000;
  margin: 100px auto;
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 60px;
  font-family: helvetica;
  font-size: 56px;
  font-style: italic;
  letter-spacing: 2px;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 12px;
  background: #000;
  outline: none;
  border: 5px solid white;
  border-radius: 8px;
  padding: 5px
}


/* for chrome/safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 150px;
  background: #000;
  cursor: pointer;
  border: 5px solid white;
  border-radius: 4px;
}

/* for firefox */
.slider::-moz-range-thumb {
  width: 150px;
  height: 150px;
  background: #000;
  cursor: pointer;
  border: 5px solid white;
  border-radius: 4px;
}